@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=deviece-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to BookStoreWebApp</h1>
</body>
</html>
