@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=deviece-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>

    <img src="~/images/logo.png" class="logo" />
    <input type="button" class="btn btn-outline-info" value="Click" />
    <p class="h1">Welcome to Book Store Web App</p>
    <p>This is the home page of our app.</p>
    <script src="~/lib/jquery/jquery.js"></script>
</body>
</html>
