@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=deviece-width" />
    <title>Index</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to BookStoreWebApp</h1>
    <img src="~/images/logo.png"  class="logo"/>
    @*<img src="~/StaticFiles/logo.png"  class="logo"/>     will not work*@  
    <img src="~/StaticFiles/logo.png"  class="logo"/>

</body>
</html>
