@{
    Layout = "_Layout";
}

    <img src="~/images/logo.png" class="logo" />
    <input type="button" class="btn btn-outline-info" value="Click" />
    <p class="h1">Welcome to Book Store Web App</p>
    <p>This is the home page of our app.</p>
  