<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @* <title>@ViewBag.Title</title> *@
    <title>Boot Store WebAPP</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
