
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            @if(ViewBag.isSucceeded == true){
            <div class="alert alert-success" role="alert">
                <p>Congrats, your email is verified!</p>
            </div>
            }else{
            <div class="alert alert-warning" role="alert">
                <p>Opps! Something went wrong or your token is expired.</p>
            </div>
            }

        </div>
    </div>

</div>

